<ion-header>
  <ion-toolbar>
    <ion-title>Upload Image</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Select Image</ion-label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Image Width (in cm)</ion-label>
    <ion-input type="number" [(ngModel)]="imageWidth"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Image Height (in cm)</ion-label>
    <ion-input type="number" [(ngModel)]="imageHeight"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="goToSplitSettings()">Next</ion-button>
</ion-content>
